

 .logo-viato{
    width:167px;
    height: 32px;
 }

.menu { 
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
   justify-content: space-around;
   width: 35%;
   background-color: rgb(255, 255, 255);
}
.pp{
    color: darkgray;

}
.categorias {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
   width: 40%;
   
   background-color: rgb(255, 255, 255);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
ul{
    display: flex;
    align-items: center;list-style-type: none;

}
